.nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: var(--dark-grey);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--short), box-shadow var(--short);
}

.nav-btn:hover:not(.nav-btn--disabled) {
  background-color: var(--violet-middle);
}

.nav-btn:focus {
  outline: none;
  /* инсет - тень во внутрь, 3 значение - рассеивание, а тут 0 значит его не будет */
  box-shadow: inset 0 0 0 2px var(--black);
}

.nav-btn:active {
  background-color: var(--violet-dark);
}

.nav-btn--disabled {
  background-color: var(--dark-grey-05);
}

.nav-btn--light {
  background-color: var(--light-grey);
}

.nav-btn--light:hover:not(.nav-btn--disabled) {
  background-color: var(--violet-ultra-light);
}

.nav-btn--light:focus {
  box-shadow: inset 0 0 0 2px var(--violet-middle);
}

.nav-btn--light:active {
  background-color: var(--violet-ultra-light);
  box-shadow: inset 0 0 0 2px var(--violet-middle);
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.nav-btn--next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
}

.nav-btn--prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}

.nav-btn--light::before {
  border-color: var(--black);
}

.nav-btn--disabled.nav-btn--light::before {
  border-color: var(--disabled-grey);
}

.nav-btn--big {
  width: 50px;
  height: 50px;
}

.nav-btn--big::before {
  width: 12px;
  height: 12px;
  top: calc(50% - 9px / 2);
}

.nav-btn--next.nav-btn--big::before {
  left: calc(50% - 12px / 2);
}

.nav-btn--prev.nav-btn--big::before {
  left: calc(50% - 5px / 2);
}
