.projects {
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects__partners {
  margin-top: 16px;
}

.projects__partners-title {
  margin-bottom: 23px;
}

.projects__desc-link,
.catalog-tabs__desc-link {
  color: var(--violet-middle);
  border-bottom: 1px solid transparent;
  transition: border-color var(--short), color var(--short)
}

.projects__desc-link:hover,
.catalog-tabs__desc-link:hover {
  color: var(--violet-middle);
  border-color: var(--violet-middle);
}

.projects__desc-link:active,
.catalog-tabs__desc-link:active {
  color: var(--violet-dark);
  border-color: var(--violet-dark);
}

@media (max-width: 1280px) {
  .projects {
    padding-top: 68px;
  }
}

@media (max-width: 970px) {
  .projects__partners {
    margin-top: 25px;
  }

  .projects__partners-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .projects {
    padding-top: 30px;
    padding-bottom: 2px;
  }

  .projects__partners {
    margin-top: 7px;
  }

  .projects__desc {
    font-size: 16px;
    line-height: 2;
  }

  .projects__partners-title {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 2;
  }
}
